name: Build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/do-ddns-updater/fw
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18 # Keep in sync with https://docs.digitalocean.com/products/functions/reference/runtimes/node-js/
      - run: npm ci
      - run: npm test